<html>
    <head>
    <title>
       PDF converter
    </title>
    <style>
   input[type=file] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
</style>
    <h1>PDF Converter</h1>
    <label for="avatar">Choose a file:</label>
       <form  method="post" enctype="multipart/form-data">
                    <input type="file" name="data_file" />
                    <label for="avatar">Download it:</label>
                    <input type="submit"/>
        </form>
</head>
</html>